## Lab | Revisiting Machine Learning Case Study:

- In this lab, you will use learningSet.csv file which you already have cloned in today's activities.

#### Instructions
Complete the following steps on the categorical columns in the dataset:

- Check for null values in all the columns

- Exclude the following variables by looking at the definitions. Create a new empty list called drop_list. We will append this list and then drop all the columns in this list later:

    - OSOURCE - symbol definitions not provided, too many categories
    
    - ZIP CODE - we are including state already

- Identify columns that over 85% missing values

- Remove those columns from the dataframe

- Reduce the number of categories in the column GENDER. The column should only have either "M" for males, "F" for females, and "other" for all the rest.

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('learningSet.csv')

/var/folders/tj/g9zg8y1s2ns5lbq88szqwp_w0000gn/T/ipykernel_37204/1786901675.py:1: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('learningSet.csv')

In [3]:
df.head()

,ODATEDW,OSOURCE,TCODE,STATE,ZIP,MAILCODE,PVASTATE,DOB,NOEXCH,RECINHSE,...,TARGET_D,HPHONE_D,RFA_2R,RFA_2F,RFA_2A,MDMAUD_R,MDMAUD_F,MDMAUD_A,CLUSTER2,GEOCODE2
0,8901,GRI,0,IL,61081,,,3712,0,,...,0.0,0,L,4,E,X,X,X,39.0,C
1,9401,BOA,1,CA,91326,,,5202,0,,...,0.0,0,L,2,G,X,X,X,1.0,A
2,9001,AMH,1,NC,27017,,,0,0,,...,0.0,1,L,4,E,X,X,X,60.0,C
3,8701,BRY,0,CA,95953,,,2801,0,,...,0.0,1,L,4,E,X,X,X,41.0,C
4,8601,,0,FL,33176,,,2001,0,X,...,0.0,1,L,2,F,X,X,X,26.0,A

In [4]:
# Checking for the null values:

null_percentage = pd.DataFrame(round((df.isna().sum()/len(df)),6))

null_percentage.columns = ['percentage']

null_percentage

          percentage
ODATEDW     0.000000
OSOURCE     0.000000
TCODE       0.000000
STATE       0.000000
ZIP         0.000000
...              ...
MDMAUD_R    0.000000
MDMAUD_F    0.000000
MDMAUD_A    0.000000
CLUSTER2    0.001383
GEOCODE2    0.001383

[481 rows x 1 columns]

In [5]:
# Exclude the following variables by looking at the definitions. Create a new empty list called drop_list.

drop_list = list(df[['OSOURCE','ZIP']])

drop_list

['OSOURCE', 'ZIP']

In [6]:
# Identify columns that over 85% missing values. 

def nulls_percent(df, treshold = 0.25):
    nulls_percent_df = pd.DataFrame(df.isna().sum()/len(df)).reset_index()
    nulls_percent_df.columns = ['column_name', 'nulls_percentage']
    columns_above_threshold = nulls_percent_df[nulls_percent_df['nulls_percentage']>treshold]
    columns_above_threshold_list = list(columns_above_threshold['column_name'])
    return columns_above_threshold_list

In [7]:
columns_above_85 = list(nulls_percent(df, 0.85)) #redundant?

In [8]:
# Remove those columns from the dataframe

df_no_nulls = df.drop(columns=columns_above_85)

In [9]:
df_final = df_no_nulls.drop(columns=drop_list)

In [10]:
print(f'This is the shape BEFORE dropping OSOURCES, ZIP and the above 85% null columns {df.shape}')
print('')
print(f'This is the shape AFTER dropping OSOURCES, ZIP and the above 85% null columns {df_final.shape}')

This is the shape BEFORE dropping OSOURCES, ZIP and the above 85% null columns (95412, 481)

This is the shape AFTER dropping OSOURCES, ZIP and the above 85% null columns (95412, 454)

In [11]:
# Reduce the number of categories in the column GENDER. 

df_final['GENDER'].value_counts()

F    51277
M    39094
      2957
U     1715
J      365
C        2
A        2
Name: GENDER, dtype: int64

In [13]:
# Turning the white spaces into missing values.

df_final = df_final.apply(lambda x: x.replace(" ", np.NaN))

In [14]:
# Note that there are a few null values in the column. We will first replace those null values using the code below:

df_final['GENDER'] = df_final['GENDER'].fillna('F')

print(df_final['GENDER'].value_counts())

F    54234
M    39094
U     1715
J      365
C        2
A        2
Name: GENDER, dtype: int64

In [15]:
# The column should only have either "M" for males, "F" for females, and "other" for all the rest.

df_final['GENDER'] = df_final['GENDER'].replace({'U': 'other', 'J': 'other', 'C': 'other', 'A': 'other'})

In [16]:
df_final['GENDER'].value_counts()

F        54234
M        39094
other     2084
Name: GENDER, dtype: int64